<ion-app>
  <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>SlashApp</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <button ion-item>Button 1</button>
            <button ion-item>Button 2</button>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
